body {
  background-color: gainsboro;
}

.navbar img {
  scale: 150%;
}

.home img {
  aspect-ratio: auto;
  height: 570px;
  margin-top: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.home h2 {
  color: rgb(147, 1, 1);
  text-shadow: 2px 2px 2px rgba(145, 1, 1, 0.6);
  position: absolute;
  top: 80%;
}

.home h1 {
  color: #000000;
  position: absolute;
  top: 70%;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.notfound img {
  max-width: 500px;
  max-height: 500px;
}

.form-errors,
.signup-form {
  width: 300px;
}

.med-input {
  border: 2px solid black;
}

.med-btn {
  background-color: none;
  border: 2px solid black;
  border-radius: 0.25rem;
  margin-left: -5px;
}

.prescription-form input,
.prescription-form select {
  border: 2px solid black;
  border-radius: 0.25rem;
}

.prescription-form .form-text {
  font-weight: bold;
}
